@using AntDesign
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">LiveStore</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<Menu Style="width: 250px;"
      DefaultSelectedKeys=@(new[] {"1"})
      Mode=@MenuMode.Vertical
      Theme="MenuTheme.Dark">
	
	<SubMenu Key="sub1" TitleTemplate=@sub1Title>
		<NavLink class="nav-link" href="Catalog/1" >
			<MenuItem Key="1">Смартфоны и гаджеты</MenuItem>
		</NavLink>
		<NavLink class="nav-link" href="Catalog/2" >
			<MenuItem Key="2">Телевизоры</MenuItem>
		</NavLink>
		<NavLink class="nav-link" href="Catalog/3" >
			<MenuItem Key="3">Техника для кухни</MenuItem>
		</NavLink>
		<NavLink class="nav-link" href="Catalog/4" >
			<MenuItem Key="4">Игры и софт</MenuItem>
		</NavLink>
	</SubMenu>
	
	<NavLink class="nav-link" href="Basket">
	<MenuItem Key="5" ><span class="oi oi-basket">Корзина</span></MenuItem>
	</NavLink>
</Menu>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	RenderFragment sub1Title =
		@<span class="oi oi-cart">Каталог
		</span>;
	}
}