@inherits LayoutComponentBase


<PageTitle>LiveStore</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="Basket">
                <span class="oi oi-cart" aria-hidden="true"></span>
                Корзина
            </a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <BlazoredToasts/>
</div>