@page "/Catalog/{CategoryId:int}"
@using LiveStore.Data.Interfaces
@using LiveStore.Data.Model
@inject ICatalog Catalog

<h3>Каталог</h3>


<div class="product">
	@foreach (var product in _products)
	{
		<ProductCard Product="@product"/>
	}
</div>

@code {
	[Parameter] 
	public int? CategoryId { get; set; }
	IReadOnlyCollection<Product> _products = new List<Product>();

	protected override void OnInitialized()
	{
		_products = Catalog.GetProducts().Where(p=>p.CategoryId == CategoryId).ToList();
		base.OnInitialized();
	}
}